html(lang='en')
    head
        title Alloy Instance Builder

        link(rel='stylesheet' href='/builder.css')
        link(rel='stylesheet' href='/projections.css')
        script(src='https://d3js.org/d3.v5.min.js')
        script(src='/js/alloy.js')
        script(src='/js/projection-display.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.11.0/js-yaml.js' integrity='sha256-tXpwsPxJo9kMzr6AxcfMzlbqY6YahrPZO9GVquGU0YA=' crossorigin='anonymous')

        link(rel='stylesheet' href='/lib/codemirror/codemirror.css')
        link(rel='stylesheet' href='/lib/codemirror/theme/oceanic-next.css')
        script(src='/lib/codemirror/codemirror.js')
        script(src='/lib/codemirror/keymap/sublime.js')
        script(src='/lib/codemirror/addon/selection/active-line.js')
        script(src='/lib/codemirror/addon/comment/comment.js')
        script(src='/lib/codemirror/mode/yaml/yaml.js')

    body

        div.title Alloy Instance Builder
        div.projections#projections
        div.editor#editor
            div.message#welcome
                | Welcome to the Alloy Instance Builder. To get started, open an Alloy XML file. Refer to the
                |
                a(href='/style', target='_blank') Style Guide
                |
                | for tips on building your stylesheet.
            div.button-big#open Open XML
                input#xml-file(style='display: none' type='file')
        div.display
            svg.alloy-instance

        script(src='/builder.js')