@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

html, body {
    font-family: "Liberation Serif", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex: 0 1 auto;
    min-height: 42px;
    width: 100%;
}

.header .title {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: center;
    background-color: #304148;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 700;
    border-bottom: 1px solid #304148;
}

.header .projections {
    border-bottom: 1px solid #ccc;
    width: 65%;
}

.body {
    display: flex;
    flex: 1 0 auto;
    width: 100%;
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #ccc;
    width: 35%;
    min-width: 300px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.message {
    margin: 12px 8px;
    padding: 4px;
    font-size: 17px;
    align-self: center;
    text-align: center;
    max-width: 320px;
}

.button-big {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 8px;
    padding: 8px 4px;
    border: 1px solid darkgray;
    min-width: 240px;
    max-width: 360px;
    align-self: center;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-big:hover {
    background-color: lightgray;
}

.alloy-instance {
    width: 100%;
    height: 100%;
    min-width: 500px;
}

.CodeMirror {
    height: 100% !important;
}

h1 {
    font-size: 46px;
    letter-spacing: -1px;
    margin: 0.1em 0;
}

h2 {
    margin-top: 2em;
}

h1, h2 {
    text-rendering: optimizeLegibility;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-rendering: optimizeLegibility;
}

blockquote {
    max-width: 640px;
}

li {
    max-width: 680px;
}

a:link {
    color: #3182bd;
    fill: #3182bd;
}

a:visited {
    color: #756bb1;
    fill: #756bb1;
}

a.self {
    color: #000;
}

a.anchor {
    color: #ccc;
    left: -40px;
    padding: 0 10px;
    margin: 0 10px;
    position: absolute;
    font-weight: normal;
}

a:not(:hover) {
    text-decoration: none;
}

pre,
code,
textarea {
    font-family: "Menlo", monospace;
    line-height: normal;
}

pre {
    border-left: solid 2px #ccc;
    padding-left: 18px;
    margin: 2em 0 2em -20px;
    max-width: 960px;
    overflow-x: auto;
}

.html .string,
.javascript .string,
.javascript .regexp {
    color: #756bb1;
}

.html .tag,
.css .selector-class,
.css .selector-tag,
.javascript .keyword {
    color: #3182bd;
}

aside,
.comment {
    color: #636363;
}

.html .meta,
.css .number,
.javascript .number {
    color: #31a354;
}

.html .attr,
.css .attribute,
.javascript .class,
.javascript .special {
    color: #e6550d;
}