body {
    margin: 0 auto 4em auto;
    font-family: "Helvetica Nue", Helvetica, sans-serif;
}

header {
    color: #999;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.5em 0;
}

.column {
    max-width: 960px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    color: #000;
}

a:not(:hover) {
    text-decoration: none;
}

.date {
    font-size: 11px;
}

.avatar {
    position: absolute;
    top: 0;
    right: 100%;
}

.gists {
    max-width: 970px;
}

.gists .gist {
    border: 1px solid #eee;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    line-height: normal;
    margin: 0 10px 10px 0;
    position: relative;
    width: 232px;
    padding: 8px 10px;
}

.gists .gist--thumbnail {
    height: 82px;
    color: #000;
}

.gists .gist:hover,
.gists .gist:focus {
    background-color: #eee;
    text-decoration: none;
}

.gists .gist-description {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 55px;
}

.gists .gist:hover .gist-underline {
    text-decoration: underline;
}